<?php
/**
 * @var ArticleDetail $block
 */
use SmartOSC\Article\Block\ArticleDetail;
use SmartOSC\Article\Block\Allarticle;
?>

<h2>Article Detail</h2>


<div id="index">
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        <?php
        if (isset($_GET['id'])) {
            $article = $block->GetIDArticle();
        }
            ?>

            <tr>
                <td><?= $article['article_id']; ?></td>
                <td><?= $article['title']; ?></td>
                <td><?= $article['content']; ?></td>
                <td><?=$article['created_at']; ?></td>
                <td><?=$article['updated_at']; ?></td>
            </tr>


    </table>

</div>