<?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom "><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>
<?php $gridrecords = $block->getCustomCollection(); ?>
<?php if ($gridrecords && count($gridrecords)): ?>
        <div class="table-wrapper orders-history">
                <table class="data table table-order-items history" id="my-orders-table">
                        <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
                        <thead>
                        <tr>
                                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                                <th scope="col" class="col product"><?php echo __('Title') ?></th>
                                <th scope="col" class="col title"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($gridrecords as $gridrecord): ?>
                                <tr>
                                        <td data-th="<?= $block->escapeHtml(__('ID')) ?>" class="col id"><?php echo $gridrecord['article_id']; ?></td>
                                        <td data-th="<?= $block->escapeHtml(__('Title')) ?>" class="col title"><?php echo $gridrecord['title']; ?></td>
                                        <td data-th="<?= $block->escapeHtml(__('Show_Detail')) ?>" class="col btn btn-primary">
                                            <a href="<?= $block->getBaseUrl();?>article/index/articledetail?id=<?= $gridrecord['article_id']; ?>">Show Detail</a></td>
                                 </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
            </div>
        <?php if ($block->getPagerHtml()): ?>
                <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
            <?php endif ?>
<?php else: ?>
        <div class="message info empty"><span><?php echo __('No any record.'); ?></span></div>
<?php endif ?>